<div class="global couleur-main">
    <main class='principal'>
    	<section class="accueil">
	    	<h1>TP1 - <%= __("Gestion de membre") %></h1>
	    	<h2><%= __("Cours") %> : <%= __("Programmation et veille technologique") %></h2>
	    	<h3><%= __("Remise") %> : <%= __("14 février 2018") %></h3>
	    	<p><%= __("Projet utilisant Node.js, Express et MongoDB pour développer une application Web de gestion de membres") %></p>
    	</section>
    </main>
</div>	

