<div class="global couleur-menu">
	<input id='burger' type='checkbox'>
	<div>
		<i class="fa fa-bars" aria-hidden="true"></i>
	</div>
	<div id='menu'>
		<nav> 		 
			 <a href='/'><i class="fa fa fa-users" aria-hidden="true"></i><%= __("Accueil") %></a>
			 <a href='/vider'><i class="fa fa-industry" aria-hidden="true"></i><%= __("Vider") %></a>
			 <a href='/chat'><i class="fas fa-comments"></i><%= __("Clavardage") %></a>
			 <a href='/adresse'><i class="fa fa-graduation-cap" aria-hidden="true"></i><%= __("Adresse") %></a>
			 <a href='/peupler'><i class="fas fa-users"></i><%= __("Peupler") %></a>
		</nav>
		<div id="recherche-langue">
			<form class='recherche' action='rechercher' method="post" name="recherche" id="recherche">
			    <input type="text" name="recherche" 
			    value="<%= (typeof recherche == 'undefined')? '' : recherche %>">
			    <button><i class="fas fa-search"></i></button>
			</form>
			<% 
				if (getLocale() == "fr") { %>
					<a class="lien-langue" href="/en"><i class="fas fa-globe"></i> Anglais</a>
				<% }
				else {%>
					<a class="lien-langue" href="/fr"><i class="fas fa-globe"></i> Français</a>
				<%}
				
			 %>
		 </div>
	</div> <!-- .menu -->
</div>



