<%- include('menu') %> 
<%- include('head') %> 
<body>
 <%- include('entete') %>
  <section id="contenu-site">
 	<div class="section-profil">
	 	<i class="far fa-user"></i>
	 	<% adresses.forEach(elm => {%>
		 <ul>
			 <li><%= elm.prenom %> <%= elm.nom %></li>
			 <li><%= elm.courriel %></li>
			 <li><%= elm.telephone %></li>
		 </ul>
		 <% }) %>
	 </div>
  </section>
 <%- include('footer') %>
</body>
</html>