<h2><%= __("Clavardage") %></h2>
<section id="enregistrement">
	<input type="text">
	<button onclick="enregistrement()"><%= __("Enregistrement") %></button>
</section>
<section id="chat" style="display: none">
	<table id="list_user"></table>
	<div id="envoye_message">
		<table id="message"></table>
	</div>
	<section id="message_a_transmettre">
		<input type="text" name="txtMessage"><button onclick="transmettre_un_message()"><%= __("Transmettre") %></button>
	</section>
</section>
<script type="text/javascript">
	/* 
		Pour établir une communication socket il faut un premier appel de
		la fonction io()
		Cette fonction est incluse dans la librairie socket.io. 
		Cette fonction déclenche un événement connect vers le serveur
	*/
	let socket;
	window.onload = ()=>{
		socket = io()

		socket.on('connect', function(){
			console.log('Le socket id = ' + socket.id); 
			/* l'événement valide_user a été transmis par le serveur */ 
			socket.on('valide_user', function(data){
				console.log('data en provenance du serveur = ' + data.user)
				let elmEnregistrement = document.getElementById("enregistrement")
				elmEnregistrement.style.display = "none";
				let elmChat = document.getElementById("chat")
				elmChat.style.display = "flex";
			})
			/* l'événement diffuser_list_user qui affichera tous les users */ 
			socket.on("diffuser_list_user", function(data) {
				afficher_table_users(data);
			})
			/* l'événement valide_message qui enverra le message */ 
			socket.on("valide_message", function(data) {
				afficher_mon_message(data, "#0f0");
			})
			/* l'événement diffuser_message qui diffusera le message */ 
			socket.on("diffuser_message", function(data) {
				afficher_mon_message(data, "#fff");
			})
		});
	}
	/* ---------------------------------------------------------- */
	function enregistrement(){
		var elmUser = document.querySelector('#enregistrement input')
		console.log(elmUser.value)
		/* l'événement « setUser » est transmit avec un objet 
		*/
		socket.emit('setUser', {user : elmUser.value})
	}

	function transmettre_un_message() {
		var elmMessage = document.querySelector('#message_a_transmettre input')
		console.log(elmMessage.value);
		socket.emit('setMessage', {message : elmMessage.value})
	}

	function afficher_table_users(data) {
		let sChaine = "";
		for(id in data) {
			sChaine += "<tr><td>" + id + "</td>" + "<td>" + data[id] + "</td></tr>";
		}
		let elmListUser = document.getElementById("list_user");
		elmListUser.innerHTML = sChaine;
	}

	function afficher_mon_message(data, couleur) {
		let sChaine = "";
		sChaine += "<tr style='background-color: " + couleur + "'>";
		sChaine += "<td>" + data["user"] + "</td>";
		sChaine += "<td>" + data["message"] + "</td>";
		sChaine += "</tr>";
		let elmListMessage = document.getElementById("message");
		elmListMessage.innerHTML += sChaine;
	}
</script>