<%
    let objOrdre = {
        _id : 'asc',
        nom : 'asc',        
        prenom : 'asc',
        telephone : 'asc',
        courriel : 'asc'
    }
    
    if (typeof cle !== 'undefined'  && cle)
        {
            objOrdre[cle] = ordre
        }
%>


<table class="tableau">
    <tr>
        <th><a href="/trier/_id/<%= objOrdre._id %>">_id<i class="fas fa-<%= (objOrdre._id=='asc'?'sort-up': 'sort-down') %>"></i></a></th>
        <th><a href="/trier/nom/<%= objOrdre.nom %>"><%= __("Nom") %><i class="fas fa-<%= (objOrdre.nom=='asc'?'sort-up': 'sort-down') %>"></i></a></th>
        <th><a href="/trier/prenom/<%= objOrdre.prenom %>"><%= __("Prénom") %><i class="fas fa-<%= (objOrdre.prenom=='asc'?'sort-up': 'sort-down') %>"></i></a></th>        
        <th><a href="/trier/telephone/<%= objOrdre.telephone %>"><%= __("Téléphone") %><i class="fas fa-<%= (objOrdre.telephone=='asc'?'sort-up': 'sort-down') %>"></i></a></th>  
        <th><a href="/trier/courriel/<%= objOrdre.courriel %>"><%= __("Courriel") %><i class="fas fa-<%= (objOrdre.courriel=='asc'?'sort-up': 'sort-down') %>"></i></a></th>     
        <th><a href="#" class="ajouter-lien"><i class="fas fa-plus"></i></a></th>    
    </tr>
    <%  for (elm of adresses) {%>
    <tr>
        <td><%= elm._id %></td>
        <td contenteditable='true'><%= elm.nom %></td>
        <td contenteditable='true'><%= elm.prenom %></td>
        <td contenteditable='true'><%= elm.telephone %></td>                
        <td contenteditable='true'><%= elm.courriel %></td>    
        <td><a class="detruire" href="#"><i class="fas fa-trash-alt" aria-hidden="true"></i></a></td>
        <td><a class='modifier' href="#"><i class="far fa-save" aria-hidden="true"></i></a></td>
         <td><a href="/profil/<%= elm._id %>"><i class="fas fa-external-link-alt"></i></a></td>
    </tr>
    <% } %>
</table>

<script type="text/javascript">
    // Dans notre fichier .ejs
    // Pour traiter le résultat transmis par l'application serveur 
    function traiterRequest(e)
    {
        let identifiant = 0;
        console.log("xhr.readyState = " + xhr.readyState)
        console.log("xhr.status = " + xhr.status)
        if(xhr.readyState == 4 && xhr.status == 200)
        {
            console.log('ajax fonctionne')
            let  maReponse = JSON.parse(xhr.responseText);
            console.log(xhr.responseText);
            console.log(maReponse._id)
            identifiant = maReponse._id;
        }
        return identifiant;
    }
    /* ========================================================
    # Fonction modifier 
    =========================================================== */
    function modifier() {
        let elmModifier = document.querySelectorAll('.modifier')
        for (elm of elmModifier)
        {
            elm.addEventListener('click', function(){
                let elmTr = this.parentElement.parentElement 
                let _id = elmTr.querySelector('td:nth-child(1)').innerHTML
                let nom = elmTr.querySelector('td:nth-child(2)').innerHTML
                let prenom = elmTr.querySelector('td:nth-child(3)').innerHTML
                let telephone = elmTr.querySelector('td:nth-child(4)').innerHTML
                let courriel = elmTr.querySelector('td:nth-child(5)').innerHTML
                elmForm = document.getElementById('frmUpdate')
                xhr = new XMLHttpRequest();
                xhr.open('POST', "/ajax_modifier", true);
                data = {
                    "nom" : nom,
                    "prenom" : prenom,
                    "telephone" : telephone,
                    "courriel" : courriel,
                    "_id" : _id,
                }
                console.log(data)
                sData = JSON.stringify(data);
                xhr.setRequestHeader('Content-type', 'application/json');
                xhr.send(sData);
                xhr.addEventListener("readystatechange", traiterRequest, false);
            })
        }
    }
    /* ========================================================
    # Fonction détruire
    =========================================================== */
    function detruire() {
        let elmDetruire = document.querySelectorAll('.detruire')
        for (elm of elmDetruire)
        {
            elm.addEventListener('click', function(){
                let elmTr = this.parentElement.parentElement 
                let _id = elmTr.querySelector('td:nth-child(1)').innerHTML
                let nom = elmTr.querySelector('td:nth-child(2)').innerHTML
                let prenom = elmTr.querySelector('td:nth-child(3)').innerHTML
                let telephone = elmTr.querySelector('td:nth-child(4)').innerHTML
                let courriel = elmTr.querySelector('td:nth-child(5)').innerHTML
                xhr = new XMLHttpRequest();
                xhr.open('POST', "/ajax_detruire", true);
                data = {
                    "nom" : nom,
                    "prenom" : prenom,
                    "telephone" : telephone,
                    "courriel" : courriel,
                    "_id" : _id,
                }
                console.log(data)
                sData = JSON.stringify(data);
                xhr.setRequestHeader('Content-type', 'application/json');
                xhr.send(sData);
                xhr.addEventListener("readystatechange", traiterRequest, false);
                this.parentElement.parentElement.remove();
            })
        }
    }
    /* ========================================================
    # Fonction ajouter
    =========================================================== */
    function ajouter() {
        let elmAjouter = document.querySelector('.ajouter-lien')
        elmAjouter.addEventListener('click', function(){
            xhr = new XMLHttpRequest();
            xhr.open('POST', "/ajax_ajouter", true);
            data = {
                "nom" : "",
                "prenom" : "",
                "telephone" : "",
                "courriel" : ""
            }
            sData = JSON.stringify(data);
            xhr.setRequestHeader('Content-type', 'application/json');
            xhr.send(sData);
            xhr.addEventListener("readystatechange", function() { reattribuerEvent() }, false);
        })
    }
    /* ========================================================
    # Fonction de réattribution
    =========================================================== */
    function reattribuerEvent() {
        let identifiant = traiterRequest();
        if(identifiant != 0) { 
            document.querySelector(".tableau tbody").innerHTML += '<tr><td>' + identifiant + '</td><td contenteditable=\'true\'></td><td contenteditable=\'true\'></td><td contenteditable=\'true\'></td><td contenteditable=\'true\'></td><td><a class="detruire" href="#"><i class="fas fa-trash-alt" aria-hidden="true"></i></a></td><td><a class="modifier" href="#"><i class="far fa-save" aria-hidden="true"></i></a></td></tr>';
            modifier();
            detruire();
            ajouter();
        }
    }
    // On appelle toutes les fonctions nécessaires
    modifier();
    detruire();
    ajouter();
</script>
