<!DOCTYPE html>
<html>
	<%- include('composants/head') %>
	<%- include('composants/menu') %>
	<%- include('composants/entete') %>
	<%- include('composants/socket_body') %>
	<%- include('composants/footer') %>
	<script src="socket.io/socket.io.js"></script>
</html>