h2 {
	text-align: center;
}

section#enregistrement {
	text-align: center;
	padding: 20px 0px;
}

#chat {
	padding: 20px 0px;
	width: 1280px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	width: 100%;

	table {
		border-collapse: collapse;
		width: 100%;

		&:first-child {
			background: #333;

			tr {
				td {
					padding: 10px;
					color: white;
				}
			}
		}
	}

	div#envoye_message {
		width: 100%;
		min-height: 600px;
		background: lightgrey;
		overflow-y: auto;

		table {
			width: 100%;
			tr {
				td {
					color: black;
				}
			}
		}
	}
}

@media all and (min-width:1100px){
	#chat {
		flex-direction: row;
		width: 80%;
		margin: 0 auto;

		table {
			width: 50%;
		}

		div#envoye_message {
			width: 50%;
		}
	}
}