
@couleur_lien : #333;


.couleur-menu {
		display : flex;
		flex-direction: column;

		#burger {
			display: none;
		}
/* ///////////////////////////////////////////  Gestion du burger */

		#burger + div {
			position : absolute;
			display : block;
			padding: 15px;
			font-size: 25px;
			cursor: pointer;
		}

		#burger:checked + label svg:nth-child(1)
		{
			display:block;
		}
		#burger:checked + label svg:nth-child(2)
		{
			display:none;
		}
		#burger + label svg:nth-child(1)
		{
			display:none;
		}
		#burger + label svg:nth-child(2)
		{
			display:block;
		}

		#burger ~ #menu > nav {
					position: absolute;
					background-color : #ccc;
					width : 200px;
					left: 0;
    				top: 50px;
					padding : 10px;
					height: 100vh;
					transform:translateX(-100%);
					transition: all 250ms;
				}
/* ///////////////////////////////////////////////////////// recherche */

		.recherche {
			display : flex;
			justify-content: flex-end;
			margin-right: 10px;
			button {
					font-size : 1.0em;
					background: none;
					border: none;
					background: #333;
					color: white;
					cursor: pointer;
				}

			input {
				border : 1px solid #333;
				padding-left : 5px;
				padding: 9px;
			}	
		}

#menu {
	padding: 0px 20px 0px 0px;
	height: 50px;
	a {
		&.lien-langue {
			text-decoration: none;
			color: white;
			background: #333;
			display: inline-block;
			padding: 10px 20px;
			display: flex;
			float: right;
			margin-top: 5px;

			svg {
				margin-right: 10px;
			}
		}
	}
}

div#recherche-langue {
	form {
	display: none;
	}
}

#menu nav {
  display : flex;
  flex-direction: column;

  a {
  		color : @couleur_lien ;
		text-decoration :  none;
		padding : 1%;

		svg {
			margin-right: 10px;
		}
  	}
  }
} // .couleur-menu
///////////////////////////////////////////////////////////// @media - min-width 700px
	@media all and (min-width:1100px){

		.couleur-menu {
		display : flex;
		flex-direction: row;
		padding: 20px 0 20px 0;
		
		#burger + div {
				display : none;
			}


		#burger ~  #menu {
		display : flex;
	    flex-direction :  row;	
	    justify-content: space-between;
		width: 100%;
		align-items: center;
		background-color : #fff;
			.recherche {
				display : flex;
				justify-content: flex-end;
				margin-right: 10px;
			}
		}

		div#recherche-langue {
			display: flex;
			align-items: center;
		}

		#burger ~ #menu > nav{
		 position : static;
		 display : flex;
		 position: static;
		 width: 40%;
		 justify-content: flex-start;
		 flex-direction : row;
		 background-color : #fff;
		 height: auto;
		 transform:translateX(0%);
		

					a {
				display : flex;
				justify-content: space-between;
				padding: 10px 30px;
				.fa {
					color :  @couleur_lien;
					min-width : 1em;
					min-width: 38%;
				}
			}
			a:hover {
				background-color: #bbb;
				color : darken(@couleur_lien, 20%) ;
					.fa {
					color : darken(@couleur_lien, 20%) ;
				}
			}
	

	    


		}// fin .menu
		#menu {
				a {
					&.lien-langue {
						margin-top: 0;
					}
				}
			}
	}// couleur-menu
	} // @media




	