div.section-profil {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 30px 0px;
	flex-direction: column;

	svg {
		padding: 30px;
		font-size: 35px;
		background: lightgrey;
		color: #333;
		width: 182px !important;
		filter: none;
	}

	ul {
		padding: 19px;
		background: #333;
		list-style: none;
		margin: 0;
		width: 204px;
		li {
			text-align: center;
			color: white;
		}
	}
}