.tableau {
      border-collapse :  collapse;
      margin :  10px;
      border: 1px solid #222;

      td,th {
        border :  1px dotted #222;
        padding :  5px;
        font-size :  .5em;

        a {
          display :  block;
          color :  white;
          text-decoration: none;
          background-color: #333;
          padding :  3px;
          font-size : 1.5em;
          &.detruire {
            background-color: #fce9e2;
            color: #f00;
          }
          &.modifier {   
            background-color: #defff2;
            color: #11b911;}
        }
        a:hover {
          background-color: #444;
        }
      }
      th {
        background-color: #ddd;
      }

         td:nth-child(1), th:nth-child(1),  td:nth-child(5), th:nth-child(5) {
          display: none;
        } 

      @media all and (min-width : 710px){

      td,th {
        border :  1px solid #222;
        padding :  5px;
        font-size :  .8em;
      }

      th {
        padding: 0px;
        a {
          padding: 10px;
          svg {
            margin-left: 10px;
          }
        }
        &:last-child a svg {
          margin-left: 0;
        }
      }

   td:nth-child(1), th:nth-child(1),  td:nth-child(5), th:nth-child(5) {
          display: table-cell;
        }

      }



    }

.mon_formulaire input {
    height: 1.5em;
    font-size: .6em;
}


